<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78063881469-a7hbths8sgp7j5ujao75p4tfmf9rgs1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78063881469-a7hbths8sgp7j5ujao75p4tfmf9rgs1u</string>
	<key>API_KEY</key>
	<string>AIzaSyD4x5vGXpJw6Y43rK7GrVCG1KfRz3SE-Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>78063881469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>umich.dpm.fall-app</string>
	<key>PROJECT_ID</key>
	<string>dpm-fall-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dpm-fall-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78063881469:ios:96a0f85d8f3a633b788294</string>
</dict>
</plist>